/* CSS styles */

body{
    margin:0 auto;
}

#container{
    background-color: rgb(100,100,100);
}
#formContainer{
    background-color: rgb(10,120,120);
}
#feedbackContainer{
    background-color: rgb(70,120,120);
}








